@model SmartShareV2.Models.Notification

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Notification</legend>

        @Html.HiddenFor(model => model.NotificationID)

        <div class="editor-label">
            @Html.LabelFor(model => model.AdvertisementsID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdvertisementsID)
            @Html.ValidationMessageFor(model => model.AdvertisementsID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MessageBody)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MessageBody)
            @Html.ValidationMessageFor(model => model.MessageBody)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SendTo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SendTo)
            @Html.ValidationMessageFor(model => model.SendTo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SendFrom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SendFrom)
            @Html.ValidationMessageFor(model => model.SendFrom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedDate)
            @Html.ValidationMessageFor(model => model.CreatedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HaveSeen)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HaveSeen)
            @Html.ValidationMessageFor(model => model.HaveSeen)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
