@model IEnumerable<SmartShareV2.Models.Notification>

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("My Post", "Index", "Profile") |
@Html.ActionLink("Inbox", "Inbox", "Notification")
<h2>Inbox</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdvertisementsID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SendTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SendFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HaveSeen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdvertisementsID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageBody)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SendTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SendFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaveSeen)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.NotificationID })*@ |
            @Html.ActionLink("Reply", "Create", new { id=item.NotificationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NotificationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NotificationID })
        </td>
    </tr>
}

</table>
