@model SmartShare.Models.Notifications

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Notifications</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdvertisementsID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdvertisementsID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MessageBody)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MessageBody)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SendTo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SendTo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SendFrom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SendFrom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HaveSeen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HaveSeen)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
