@model SmartShare.Models.Notifications

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Notifications</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdvertisementsID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdvertisementsID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MessageBody)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MessageBody)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SendTo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SendTo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SendFrom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SendFrom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HaveSeen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HaveSeen)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.NotificationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
