@model SmartShare.Models.Advertisements

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Advertisements</legend>

    <div>
        <div style="width: 85%; margin: 0 auto;float: left; padding: 5px">
            <h3>@Model.AdvertisementTitle - [I have used hard coded styles here]</h3>
        </div>
        <div style="width: 50%; margin: 0 auto; float: left; padding: 10px">
            <p><i>Created by <b>@Model.UserId</b> [need to replace the userid by username] on @Model.CreatedOn.ToShortDateString()</i></p>

            <p>
                Description: @Model.AdvertisementDesc
                <br />
                Price: @Model.Price euro
                <br />
                
            </p>
        </div>
    </div>
</fieldset>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p id="linkBtns">
        <input type="submit" value="Delete" />
        @Html.ActionLink("Back to List", "Index")
    </p>
}
