@model SmartShareV2.Models.Advertisements

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Advertisements</legend>

        @Html.HiddenFor(model => model.AdvertisementID)

        <div class="editor-label">
            @Html.LabelFor(model => model.AdvertisementTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdvertisementTitle)
            @Html.ValidationMessageFor(model => model.AdvertisementTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdvertisementDesc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdvertisementDesc)
            @Html.ValidationMessageFor(model => model.AdvertisementDesc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedOn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedOn)
            @Html.ValidationMessageFor(model => model.CreatedOn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryType)
            @Html.ValidationMessageFor(model => model.CategoryType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdvertisementType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdvertisementType)
            @Html.ValidationMessageFor(model => model.AdvertisementType)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
