@model IEnumerable<SmartShareV2.Models.Advertisements>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdvertisementTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvertisementDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvertisementType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdvertisementTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvertisementDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvertisementType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdvertisementID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdvertisementID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdvertisementID })
        </td>
    </tr>
}

</table>
