@model SmartShareV2.Models.Advertisements

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Advertisements</legend>

    <div>
        <div style="width: 85%; margin: 0 auto;float: left; padding: 5px">
            <h3>@Model.AdvertisementTitle - [I have used hard coded styles here]</h3>
        </div>
        <div style="width: 50%; margin: 0 auto; float: left; padding: 10px">
            <p><i>Created by <b>@Model.UserId</b> [need to replace the userid by username] on @Model.CreatedOn.ToShortDateString()</i></p>

            <p>
                Description: @Model.AdvertisementDesc
                <br />
                Type: @Model.AdvertisementType
                <br />
                Category: @Model.CategoryType
                <br />
                Price: @Model.Price euro
                <br />
                
            </p>
        </div>
        <div style="width: 30%; margin: 0 auto; float: left; padding: 5px">
            <img src="@Url.Action("getImg", "Home", new { modelItem = Model.AdvertisementID })" alt="Item Image" />
        </div>
    </div>
</fieldset>
<p id="linkBtns">
    @Html.ActionLink("Back to List", "Index")
</p>
