@model IEnumerable<SmartShareV2.Models.Advertisements>

@{
    ViewBag.Title = "Index";
}

<h2>Advertisements List</h2>

<p id="advertisement">
    @Html.ActionLink("Add New Advertisement", "Create")
</p>

<hr style="border:double"/>

@foreach (var item in Model)
{
    <article>
        <div>
            <h3>@Html.DisplayFor(modelItem => item.AdvertisementTitle)</h3>
            <p><i>Created by <b>@item.UserId</b> [need to replace the userid by username] on @item.CreatedOn.ToShortDateString()</i></p>
            <p>@item.AdvertisementDesc</p>
        </div>

        <div id="linkBtns">@Html.ActionLink("Details", "Details", new { id = item.AdvertisementID })</div>
        <hr />
    </article>
}

